#pray-wrapper {
    background-image: url("https://www.stpatrickcolumbus.org/images/ministries/pray.jpg");
    background-position: center;
}

#learn-wrapper {
    background-image: url("https://www.stpatrickcolumbus.org/images/ministries/learn.jpg");
    background-position: center;
}

#serve-wrapper {
    background-image: url("https://www.stpatrickcolumbus.org/images/ministries/serve.jpg");
    background-position: center;
}

#connect-wrapper {
    background-image: url("https://www.stpatrickcolumbus.org/images/ministries/connect.jpg");
    background-position: center;
}

.category-wrapper {
    background-size: cover;
    height: 200px;
    display: table;
    width: 100%;
}

.category-wrapper h2, .category-wrapper a, .textOverImage {
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: -1px 0 20px black, 0 1px 20px black, 1px 0 20px black, 0 -1px 20px black;
}

.category-wrapper h2, .category-wrapper > div {
    display: table-cell;
    vertical-align: middle;
}

.category-wrapper:hover {
    transform: scale(1.02);
    transition: ease 0.3s;
}

.category-wrapper a {
    font-size: 16px;
}

.ministryLink {
    display: block;
    margin-top: 3px;
}

#breadcrumbs {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 18px;
}

.well.ministryWell {
    border: 1px solid #97BD18;
}

.missionTitle {
    text-align: center;
    font-size: 250%;
}

h3.missionSubTitle {
    text-align: center;
    font-size: 175%;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    margin-top: -40px;
}

.scriptFont {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}

.replacementImage {
    height: 300px;
    line-height: 300px;
    background-position: center;
    background-size: cover;
    max-width: 400px;
    margin: 0 auto;
    font-size: 40px;
    text-transform: capitalize;
    box-shadow: 0 0 8px 8px white inset;
}

.linkList {
    text-align: left;
    margin-bottom: 15px;
}